h1, h2, .link, p, h3 {
  font-family: Verdana;
}
body{
  background-color: black;
  text-align: center;
}
h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.link {
  color: aquamarine;
  font-size: 16px;
}
p {
  font-size: 21px;
  color: gray;
}
h3{
  color: gray;
  text-align: right;
}
